/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(251, 247, 255);
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1800px;
    padding: 20px 30px;
    display: flex;
    margin: auto;
}

.lang​Used {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.tagHtml {
    color: white;
    background-color: #E34C26;
    padding: 5px 15px;
    border-radius: 10px;
}

.tagCss {
    color: white;
    background-color: #663399;
    padding: 5px 15px;
    border-radius: 10px;
}

.tagJs {
    color: white;
    background-color: #F1E05A;
    padding: 5px 15px;
    border-radius: 10px;
}

/* header */
.header {
    background-color: white;
    box-shadow: 0px 3px 10px rgb(231, 231, 231);
    margin-bottom: 30px;
}

.header .container {
    justify-content: space-between;
    align-items: center;
}

.header .lang​Used p {
    font-size: 15px;
    font-weight: 600;
}


/* main */
.main {
    gap: 20px;
    justify-content: center;
    flex-flow:row-reverse wrap-reverse;
}

/* project Card */
.projectCard {
    width: 700px;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 3px 15px rgb(224, 224, 224);
    margin: 10px;
}

.projectCard>div {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

/* img */
.projectCard .projectDemoImg img {
    width: 100%;
    height: 100%;
    transition: all .5s ease;
}

.projectCard:hover .projectDemoImg img {
    width: 105%;
    height: 105%;
}

/* Information */
.projectCard .projectInformation {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.projectCard h2 {
    margin-bottom: 10px;
}


.projectCard .lang​Used {
    font-size: 14px;
    justify-content: flex-start;
}