/* original style */
body {
    margin: 0;
    padding: 0;
}

.cantainer {
    width: 50%;
    height: 100vh;
    margin: auto;
    background-image: url(img/back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 1px solid white;
    border-right: 1px solid white;
    box-shadow: 0 0 20px 2px rgb(198, 198, 198);
    padding-bottom: 80px;
    box-sizing: border-box;
}

.cantainer>.typeing {
    height: 80px;
    width: 49.9%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(129, 70, 255, 0.435);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width:900px) {
    .cantainer {
        width: 95%;
    }

    .cantainer>.typeing {
        width: 94.7%;

    }
}

.cantainer>.chats {
    height: 100%;
    font-weight: bold;
    font-size: 15px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px 20px;
    box-sizing: border-box;
}

.cantainer>.chats>.message {
    height: 60px;
    width: max-content;
    padding: 18px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    border: 1px solid white;
    box-shadow: 0 0 20px 0px rgba(129, 70, 255, 0.435);
    background-color: rgb(224, 224, 224);
}

.cantainer>.chats>div.message:nth-child(odd)::before {
    background-color: rgb(224, 224, 224);
    position: absolute;
    left: -10px;
    bottom: -1px;
    height: 10px;
    width: 30px;
    content: " ";
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 50px 0 0 0;

}

.cantainer>.chats>div.message:nth-child(even) {
    background-color: rgb(197, 197, 197);
    align-self: end;
}

.cantainer>.chats>div.message:nth-child(even)::after {
    background-color: rgb(197, 197, 197);
    position: absolute;
    right: -10px;
    bottom: -1px;
    height: 10px;
    width: 30px;
    content: " ";
    border-radius: 0 50px 0 0;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}


.cantainer>.typeing>#Question {
    height: 40px;
    width: 87%;
    outline: 0;
    border: 1px solid white;
    border-radius: 20px;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: rgb(224, 224, 224);
    transition: all 0.1s;
}

.cantainer>.typeing>#Question:hover {
    width: 87.5%;
    box-shadow: 0 0 5px 0px rgb(46, 46, 46);
}

.cantainer>.typeing>button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    box-sizing: border-box;
    background-color: rgb(224, 224, 224);
}

.cantainer>.typeing>button:hover {
    width: 42px;
    height: 42px;
    box-shadow: 0 0 5px 0px rgb(46, 46, 46);
}